<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin_login</title>
  </head>
  <body>
    <form class="" action="/login" method="post">
      <label for="user">admin username</label>
      <input id="user" type="text" name="admin_name" >
      <label for="pass">admin password</label>
      <input type="text" name="admin_password">
      <button type="submit" name="button">Submit</button>

    </form>
  </body>
</html>
