<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/fevicon.ico" type="image">
    <link rel="stylesheet" href="/css/style.css" >
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">
    <title>LeaderBoard</title>
  </head>
  <body>

    <nav>
      <div>
        <a class="navbar-brand" href="#">
            <img src="/logo.png" alt="" width="150" height="120" class="navHeading">
        </a>
      </div>
      <h1 id="siteName">CodeChef MBM Chapter</h1>
    </nav>
    <div class="bodyBOX">
      <div id="box" class="container-fluid background">
        <div class="">
          
        </div>
          <div class="">

          </div>
      </div>

      </div>

      <footer>
        <div class="footer-left">
          <div style="margin-bottom: 5px; font-size: 20px;">
          <a href="https://www.codechef.com/aboutus/?itm_medium=navmenu&itm_campaign=aboutus" style="color: white; text-decoration: none;">About CodeChef</a>
          </div>
          <div >
            <div style="font-size: 20px; font-weight: bold;">Contact Us: </div>
            <div class="email">gargharshit567@gmail.com</div>
            <div class="email">harshitashar14@gmail.com</div>
            <div class="email">vipulm9649@gmail.com</div>
            <div class="email">a.manalimathur@gmail.com</div>
          </div>
        </div>
        <div class="created-by">
          <div style="font-size: 20px; font-weight: bold;">Created By:</div>
          <div class="names">Harshit Garg</div>
          <div class="names">Harshita Sharma</div>
          <div class="names">Vipul Mehra</div>
          <div class="names">Manali Mathur</div>
        </div>
      </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
